<div class="crypto-table-container">
  <h2>Cryptocurrency Prices</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price (USD)</th>
        <th>24h Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of cryptos">
        <td class="coin-name">
          <img [src]="coin.image" [alt]="coin.name + ' logo'" />
          {{ coin.name }}
        </td>        
        <td>{{ coin.symbol | uppercase }}</td>
        <td>${{ coin.current_price }}</td>
        <td [ngClass]="{ 'positive': coin.price_change_percentage_24h >= 0, 'negative': coin.price_change_percentage_24h < 0 }">
          {{ coin.price_change_percentage_24h | number:'1.2-2' }}%
        </td>
      </tr>
    </tbody>
  </table>
</div>